body, html {
  height: 100%;
  > #app {
    height: 100%;
    overflow: hidden;
    background-color: #FF869C;
    user-select: none;
  }
  .g-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
  }
}

ul, li {
  list-style: none;
}
