.container {
  margin-top: 48px;
  h1 {
    color: #fda4af;
    font-size: 34px;
    i {
      color: #fb7185;
    }
    p {
      color: #fda4af;
      font-size: 20px;
      display: inline-block;
      margin-left: 6px;
    }
  }
}
